NEXT_PUBLIC_SITE_URL=http://localhost:3002

# CMS (Sanity — ileride)
# SANITY_PROJECT_ID=
# SANITY_DATASET=
# SANITY_API_VERSION=
# SANITY_TOKEN=

# Email (Resend)
# RESEND_API_KEY=

# Form koruma (Cloudflare Turnstile)
# TURNSTILE_SITE_KEY=
# TURNSTILE_SECRET_KEY=
